@import url('https://fonts.googleapis.com/css?family=Raleway');

.center {
    font-family: 'Raleway', sans-serif;
    background-color: #1abc9c;
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    -o-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

.card {
    background-color: #fff;
    -ms-border-radius: 15px;
    border-radius: 15px;
    padding: 0.8rem;
}

    .card > form {
        display: flex;
        flex-direction: column;
    }

    .card h1 {
        text-align: center;
        margin-top: 0;
        margin-bottom: 10px;
    }

.form-item {
    font-family: 'Raleway', sans-serif;
    padding: 5px;
    margin-bottom: 2rem;
    height: 30px;
    width: 22rem;
    border: 1px solid grey;
}

.form-submit {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 35px;
    color: #fff;
    background-color: #4189c7;
    border: none;
    -ms-transition: 0.3s opacity ease;
    -o-transition: 0.3s opacity ease;
    -webkit-transition: 0.3s opacity ease;
    transition: 0.3s opacity ease;
    cursor: pointer;
    -ms-border-radius: 4px;
    border-radius: 4px
}

    .form-submit:hover {
        -ms-opacity: 0.6;
        opacity: 0.6;
    }

.btn-logout {
    margin-left: 0;
    margin-right: 0;
    position: absolute;
}
